<footer class="footer">
  <div>© 2025 ShopNow. All Rights Reserved.</div>

  <div class="social">
    <a href="#" aria-label="Facebook">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a href="#" aria-label="Instagram">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="#" aria-label="Twitter">
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a href="https://www.google.com" aria-label="Google">
      <i class="fa-brands fa-google"> </i>
    </a>
  </div>

  <div>
    <label for="emailSubscribe">Subscribe</label>
    <input
      type="text"
      id="emailSubscribe"
      placeholder="Enter your email"
      title="Subscribe to our emails"
    />
    <button>Subscribe</button>
  </div>
</footer>
