<header class="header">
  <div class="logo">SHOP<span>NOW</span></div>
  <div class="nav-cart-div">
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="index.html">Home</a></li>
        <li><a href="offers.html">Offers</a></li>
        <li><a href="products.html">Products</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>

    <div class="cart-container" id="cart-icon">
      <i class="fa-solid fa-cart-shopping"></i>
      <span id="cart-count" class="cart-count hidden">0</span>
    </div>

    <div class="hamburger">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
</header>
